<div style="height: calc(100vh - 200px);">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button (click)="sidenav.toggle()" fxShow="true" fxHide.gt-sm>
        <mat-icon>menu</mat-icon>
      </button>
      <img mat-icon-button src="../../favicon.ico" style="height: 5.7vh; margin-right: 10px;">
      <span style="font-size: larger;  ">Cruz Roja Radio</span>
      <span class="radio-spacer"></span>
      <div fxShow="true" fxHide.lt-md>
        <!-- The following menu items will be hidden on both SM and XS screen sizes -->
        <a [routerLink]="['/home']" rel="no-refresh" mat-button>Inicio</a>
        <a [routerLink]="['/about/vision']" rel="no-refresh" mat-button>Vision</a>
      </div>
      <span class="radio-spacer"></span>
      <span class="radio-spacer"></span>
      <button mat-icon-button class="radio-icon favorite-icon" aria-label="radio icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="radio-icon" aria-label="radio icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container fxFlexFill>
    <mat-sidenav #sidenav>
      <mat-nav-list>
        <a (click)="sidenav.toggle()" mat-list-item>Close</a>
        <a [routerLink]="['home']" rel="no-refresh" mat-list-item>Home</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
