.badge-length > .mat-badge-content {
  margin-top: 11px;
  margin-left: 4px;
  padding-left: 3px;
  padding-right: 3px;
  width: auto;
  border-radius: 0px;
  right: unset !important;
  background-color: #eeeeeecc;
  color: black;
  font-size: 13px !important;
}

.is-active .badge-length > .mat-badge-content {
  background-color: #ff99a181;
}

.badge-live > .mat-badge-content {
  margin-top: -9px;
  margin-left: -5px;
  padding-left: 3px;
  padding-right: 3px;
  width: auto;
  border-radius: 9px;
  //right: unset !important;
  background-color: #f03d4d; // background-color: white;
  color: white; // color: #f03d4d;
  font-size: 11px !important;
}

.badge-icon > .mat-badge-content {
  margin-top: -9px;
  margin-left: 9px;
  padding-left: 3px;
  padding-right: 3px;
  width: auto;
  border-radius: 9px;
  //right: unset !important;
  background-color: white;
  color: #f03d4d;
  font-size: 13px !important;
}

mat-list {
  flex-grow: 1;
  overflow: auto;
  height: calc(100vh - 58vh);
}

.list-class .mat-list-item {
  height: auto;
}

.overlayed {
  padding: 15px;
}

.is-active {
  background-color: #ff99a181 !important;
  font-size: medium !important;
  font-weight: bold !important;
  
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 10px;
  left: 0;
  right: 0;
}

img {
  max-width: 90%;
}

@media only screen and (max-width: 600px) {
  .flex-lst-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center !important;
  }

  .flex-lst-item-10 {
    margin-left: 0px !important;
    flex: 10%;
  }
}

.flex-lst-container {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}

.flex-lst-item-10 {
  margin-left: 30px;
  flex: 10%;
}

.flex-lst-item-45 {
  flex: 40%;
}


.flex-container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.flex-left {
  text-align: left;
  margin-left: 30px;
  flex: 65%;
}
.flex-right {
  text-align: right;
  flex: 25%;
}
