<div class="overlayed">
  <div fxLayout="column">
    <div class="flex-p">
      <div fxLayout="column" class="mat-elevation-z8" style="padding: 15px;">

        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxLayoutAlign="start"
          fxLayoutAlign.xs="start start" style="margin: 10px;">
          <div fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.lt-sm="100">
            <h1>Episodios</h1>

            <p style="font-size: medium; margin: 15px;">¡Puedes acceder a todas nuestras entrevistas,
              sesiones o
              programas anteriores
              en <a href="https://open.spotify.com/show/56iX90MqKVGkFqvHKaQtRI" target="_blank">
                <span style="color: green"><b>Spotify!</b></span>
              </a>
            </p>
            <br>
            <div class="center">
              <a href="https://open.spotify.com/show/56iX90MqKVGkFqvHKaQtRI" target="_blank">
                <img src="../../../assets/external/podcast-spotify.png" />
              </a>
            </div>
          </div>
          <div fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.lt-sm="100">
            <h3>Este es nuestro programa más reciente:</h3>

            <iframe src="https://open.spotify.com/embed-podcast/show/56iX90MqKVGkFqvHKaQtRI" width="100%" height="232"
              frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
