<div class="overlayed">
  <div fxLayout="column">
    <div class="flex-p">
      <div fxLayout="column" class="mat-elevation-z8" style="padding: 15px;">
        <h1>Voluntarios</h1>
        <p class="center">
          <b>
            Pronto conocerás a todo el equipo detrás de Cruz Roja Radio, Tu Radio
          </b>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="flex-container center">

  <mat-card class="flex-card mat-elevation-z8 hvr-bob">
    <mat-card-header class="center">
      <!--  <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Voluntario</mat-card-title>
      <mat-card-subtitle>Desarrollo Web</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="../../../../assets/favicon123.ico" style="width: 100%;" alt="Person">
    <mat-card-content class="center">
      <p>
        ...
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
  </mat-card>

  <mat-card class="flex-card mat-elevation-z8 hvr-bob">
    <mat-card-header class="center">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Voluntario</mat-card-title>
      <mat-card-subtitle>Programación Musical</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="../../../../assets/favicon123.ico" style="width: 100%;" alt="Person">
    <mat-card-content class="center">
      <p>
        ...
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
  </mat-card>

  <mat-card class="flex-card mat-elevation-z8 hvr-bob">
    <mat-card-header class="center">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Voluntario</mat-card-title>
      <mat-card-subtitle>Productor</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="../../../../assets/favicon123.ico" style="width: 100%;" alt="Person">
    <mat-card-content class="center">
      <p>
        ...
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
  </mat-card>

  <mat-card class="flex-card mat-elevation-z8 hvr-bob">
    <mat-card-header class="center">
      <!-- <div mat-card-avatar class="example-header-image"></div> -->
      <mat-card-title>Voluntario</mat-card-title>
      <mat-card-subtitle>Locutor</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="../../../../assets/favicon123.ico" style="width: 100%;" alt="Person">
    <mat-card-content class="center">
      <p>
        ...
      </p>
    </mat-card-content>
    <!--  <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
  </mat-card>

</div>
