<div class="app">
  <router-outlet></router-outlet>
  <div id="app-spinner" [class.hide]="!settings.loadingSpinner">
    <img class="" src="../assets/cruz-roja-radio.png">
    <br>
    <br>
    <br>
    <br>
    <br>
    <mat-progress-bar mode="indeterminate" color="primary"></mat-progress-bar>
  </div>

  <iframe class="example-footer" id="amazing" src="//www.zeno.fm/player/radio-cruz-roja" allow="autoplay 'src'"
    width="100%" height="200px" frameborder="0" scrolling="no">
  </iframe>

</div>
