<div class="landing-image">
  <div class="main-content">
    <div class="header">
      <h1 class="main-intro" style="font-size: xx-large;">Tu Radio, Tu Espacio</h1>

      <br>

      <p class="main-intro" style="font-size: large;">
        ¿Nos has sintonizado recientemente?
      </p>
      <p class="sec-intro" style="font-size: large;">
        <b>
          ~ !Nos estamos renovando!
        </b>
      </p>

      <br>
      <hr>
      <br>

      <p class="sec-intro center" style="color: crimson !important; font-weight: bold; font-size: x-large;">
        ¡Sintonízanos!
      </p>
    </div>

  </div>

</div>
