<div class="landing-image">
  <div class="main-content">
    <div class="header hvr-grow-shadow">
      <h1 [ngClass]="{'main-intro' : loader, 'main-intro-nodelay' : !loader}" style="font-size: xx-large;">Tu Radio, Tu
        Espacio</h1>

      <br>

      <p [ngClass]="{'main-intro' : loader, 'main-intro-nodelay' : !loader}" style="font-size: large;">
        ¿Nos has sintonizado recientemente?
      </p>
      <p [ngClass]="{'sec-intro' : loader, 'sec-intro-nodelay' : !loader}" style="font-size: large;">
        <b>
          ~ !Nos estamos renovando!
        </b>
      </p>

      <br>
      <hr>
      <br>

      <p [ngClass]="{'sec-intro' : loader, 'sec-intro-nodelay' : !loader}" class="center" style="color: crimson !important; font-weight: bold; font-size: x-large;">
        ¡Reporta Sintonía!
      </p>
    </div>

  </div>

</div>
