<div class="overlayed">
  <div fxLayout="column">
    <div class="flex-p">
      <div fxLayout="column" class="mat-elevation-z8" style="padding: 15px;">
        <h1>Programación Regular</h1>
        <h3>Hora Local: {{hour}}</h3>

        <mat-list class="list-class">
          <mat-list-item #scheduleItem *ngFor="let item of schedule; let i = index" [class.is-active]="i==selectedIndex"
            [id]="'item-'+i">

            <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxLayoutAlign="start center"
              fxLayoutAlign.xs="start start" style="margin: 10px;">
              <div fxFlex.md="10" fxFlex.lg="10" fxFlex.lt-sm="100">
                <span fxLayoutAlign="start center">
                  <mat-icon matListIcon>schedule</mat-icon>
                  {{item.hour}}
                </span>
              </div>
              <div fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45" fxFlex.lt-sm="100">
                {{item.program}}
              </div>
              <div fxFlex.md="45" fxFlex.lg="45" fxFlex.xl="45" fxFlex.lt-sm="100">
                {{item.title}}
              </div>
            </div>
            <mat-divider [inset]="true"></mat-divider>
          </mat-list-item>
        </mat-list>

      </div>
    </div>
  </div>
</div>
