<div class="overlayed">
  <div fxLayout="column">
    <div class="flex-p">
      <div fxLayout="column" class="mat-elevation-z8" style="padding: 15px;">

        <h1>Descargas</h1>
        <p style="font-size: medium;">
          ¡Puedes salir con tranquilidad! - Sigue en sintonía desde tus dispositivos móviles.
        </p>
        <h2 class="center">
          Descarga nuestra App - Radio Cruz Roja
        </h2>
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="10px" fxFlex="100" fxLayoutAlign="start"
          fxLayoutAlign.xs="start start" style="margin: 10px;">
          <div fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.lt-sm="100">
            <a href="https://itunes.apple.com/us/app/radio-cruz-roja/id1136147346?mt=8" target="_blank"
              style="padding: 0px; margin: 0px;">
              <img src="../../../assets/external/app-store.png" alt=""
                style="display:block; margin:auto; max-width: 225px;" />
            </a>
          </div>
          <div fxFlex.md="50" fxFlex.lg="50" fxFlex.xl="50" fxFlex.lt-sm="100">
            <a href="https://play.google.com/store/apps/details?id=com.audionowdigital.player.redcross" target="_blank"
              style="padding: 0px; margin: 0px;">
              <img src="../../../assets/external/google-play.png" alt=""
                style="display:block; margin:auto; max-width: 225px; " />
            </a>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
