mat-list {
  flex-grow: 1;
  overflow: auto;
  height: calc(100vh - 58vh);
}

.list-class .mat-list-item {
  height: auto;
}

.overlayed {
  padding: 15px;
}

.is-active {
  background-color: lightcoral !important;
  font-size: medium !important;
  font-weight: bold !important;
}

.example-container {
  position: absolute;
  top: 60px;
  bottom: 10px;
  left: 0;
  right: 0;
}

img {
  max-width: 90%;
}
